body {
    margin: 0;
    text-align: center;
    font-family:century;
} 

.top-container{
    background-color:rgba(135, 207, 235, 0.256);
    padding-top: 11px;
}

.s_cloud{
    width: 8%;
}

.m_cloud{
    width: 11%;
}

.l_cloud{
    width: 22%;
    height: 13%;
    position: absolute;
    left: 3%;
    top: 44%;
}

.r_cloud{
    width: 22%;
    height: 11%;
    position: absolute;
    right: 3%;
    top: 22%;
}

.profile_title{
    font-size: 66px;
    margin-top: 0;
    font-family: 'Klee One', cursive;
}

.am{
    color: azure;
}

p{
    font-size: 22px;
    margin-top: 0;
    font-family: 'Special Elite', cursive;
}






/* Options */
/* 
background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../../media/examples/lizard.png");
 */