body {
    font-family: 'Montserrat-Black', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat-Bold', sans-serif;
}

p {
    color: #8f8f8f;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0; 
    padding-left: 0;
  }
  

/* Main Layout */

#title {
    background-color: #ff4c68;
    color: white;

}

#title h1 {
    font-weight: bolder;
    size: 3.3rem;
    line-height: 1.5;
}

.main {
    padding: 3% 11% 0;
    overflow: hidden;
}

.navbar {
    padding: 0 0 6rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.1 rem;
    font-family: 'Montserrat-Light', sans-serif;
}

.form-control:focus {
    border-color: #ff4c68;
    box-shadow: 0 0 0 .25rem rgb(247, 55, 85);
  }
  
.download-btn {
    margin: 5% 3% 5% 0;
}

.main_img {
    width: 55%;
    transform: rotate(15deg) scale(1.25);
    position: relative;
    top: 22%;
    left: 11%;

}

/* Features Section */

#features {
    padding: 8% 13%;
}

.feature_box {
    padding: 0 6%;

}

.icon {
    color: #ef8172;
    font-size: 4.4rem;
    padding-bottom: 1rem;

}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
    background-color: #ef8172;
    color: white;
    /* padding-top: 8%; */
    padding: 8% 11% 1%;

}

#testimonials p,
h2 {
    color: white;
    font-weight: bolder;
    margin-bottom: 3rem;
}

#testimonials img {
    width: 22% !important;
    border-radius: 100%;
    margin: 0 auto 1%;
}

.carousel-indicators {
    margin-top: 0;
}

.carousel-item {
    padding: 0 22% 0;
    font-size: 2..2rem;
    line-height: 1.5;
}

/* Press Section */

#press {
    background-color: #ef8172;
    padding: 8%;
}

#press img {
    width: 22%;
    padding: 3%;
}

.middle {
    box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.29);
}

.plan-name {
    letter-spacing: 2px
}

.price {
    font-weight: 1000;
    font-size: 3.5em;
    color: #ef8172;
}

.btn-outline-primary {
    color: #ff4c68;
    border-color: #ff4c68;
}

.btn-primary {
    color: white !important;
    border-color: #ff4c68 !important;
    background-color: #ff4c68 !important;
}

.btn-outline-primary:hover,
.btn-primary:hover {
    color: white !important;
    border-color: #ff4c68 !important;
    background-color: #ff4c68 !important;
    outline-color: #ff4c68;
}

.btn-outline-primary:focus,
.btn-primary:focus {
    outline-color: #ff4c6762;
    outline-style: solid;
    box-shadow: 0 0 0 4px #ff4c6762 !important;
}

.btn-outline-primary:active,
.btn-primary:active {
    outline-color: #ff4c6762 !important;
    outline-style: solid;
    background-color: #ff4c6762 !important;
    border-color: #ff4c68 !important
}

/* Prices Section */

#pricing {
    padding: 8%;
}

#pricing li {
    text-align: left;
    margin-left: 29%;
}

#pricing span {
    font-size: 20px;
}

.check {
    color: #ff4c68;
}

/* Download Section */

#cta {
    background-color: #ff4c68;
    color: white;
    padding: 8% 0 3%;
}

/* Footer Section */

footer {
    padding: 8%;
}

#footer p {
    padding: 3% 0;
}

.contact-icon {
    font-size: 3rem;
    padding: 1%;
    color: black
}

/* Responsive */

@media (max-width: 992px) {
    .navbar {
        padding: 0 0 3rem;
    }

    .main_img {
        position: relative;
        width: 55%;
    }

}

@media (max-width: 768px) {
    .navbar {
        padding: 0 0 3rem;
    }

}

@media (max-width: 576px) {
    .main_img {
        left: 1%;
    }

    .col-lg-6 {
        padding: 0 8%;
    }

    .download-btn {
        margin-left: 3%;
    }

    #pricing li {
        margin-left: 22%;
    }

    .w-50 {
        margin-left: 0px;
        margin-right: 0px;
    }
}